In [21]:
# Mutable Objects

list1 = [11, 9, "Anirudh", False, 0.0005, True, ""]
print(list1)
print(type(list1))

[11, 9, 'Anirudh', False, 0.0005, True, '']
<class 'list'>

In [1]:
# Accessing Elements

lst = [67, 54, 11, 99, 98, 54, 34, 45, 65, 76, 12]
# print(lst[0])
# print(lst[1])
# print(lst[2])
# print(lst[3])
# print(lst[4])

print(lst[-1], lst[0])

12 67

In [7]:
# Iteration of list
# Iteration by index

# Index = 0 to 9
# How many elements? = 10
lst = [67, 54, 11, 99, 98, 543, 432, "Anirudh", True, 55.556]

# Best
for i in range(len(lst) - 1, -1, -1):
    print(lst[i], end=" ")

55.556 True Anirudh 432 543 98 99 11 54 67

In [15]:
lst = [67, 54, 11, 99, 98, 543, 432, "Anirudh", True, 55.556]

for i in range(-1, -(len(lst) + 1), -1):
    print(lst[i], end=" ")

55.556 True Anirudh 432 543 98 99 11 54 67

In [17]:
lst = [67, 54, 11, 99, 98, 543, 432, "Anirudh", True, 55.556]
for i in range(0, len(lst)):
    print(lst[i], end=" ")

67 54 11 99 98 543 432 Anirudh True 55.556

In [37]:
my_list = [67, 54, 11, 99, 98, 543, 432]

# Addition of all elements using iteration

total=0
for i in my_list:
    total+=i

total

1304

In [35]:
# Membership Operator (IN / NOT IN)

my_list: list[int] = [54, 99, 18, 19, 99, 21, 59, True]

search_number = 99

if search_number in my_list:
    print("Yes")
else:
    print("No")

Yes

In [41]:
#Removes an element
#AND returns the removed value
my_list:list[int]= [54, 99, 18, 19, 99, 21, 59]
my_list.pop(-3)
my_list

[54, 99, 18, 19, 21, 59]

In [45]:
#del does NOT return anything
del my_list[0]

In [49]:
#Removes the first occurrence of the value
#Does NOT return anything
#Modifies the list in place
my_list.remove(99)

In [53]:
my_list.insert(3, -10)
my_list

[18, 19, 21, -10, 59]

In [55]:
my_list = [54, 65, 18, 19, 99, 21, 59]

# By Index
# for i in range(0, len(my_list)):
#     print(my_list[i], end=" ")

# By Value
# for i in my_list:
#     print(i, end=" ")

# By Both
for i, j in enumerate(my_list):
    print(f"Index = {i}, value = {j}")

Index = 0, value = 54
Index = 1, value = 65
Index = 2, value = 18
Index = 3, value = 19
Index = 4, value = 99
Index = 5, value = 21
Index = 6, value = 59

### List Comprehension

In [64]:
# To create list

a = [i + 5 for i in range(1, 11)]
# a = [f"odd{i}" for i in range(1, 11)]
#a = [i % 2 == 0 for i in range(1, 11)]
# for i in range(1, 5000001):
#     a.append(i)


print(a)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [82]:
# Is used to create list
# 1 to 100
def prime(n) -> bool:
    factors = 0
    for i in range(1, n + 1):
        if n % i == 0:
            factors += 1
    if factors == 2:
        return True
    return False


# my_list = [i for i in range(2, 101) if prime(i) == True]
# print(my_list)

n = 5
my_list = [i * n for i in range(1, 11)]
print(my_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [84]:
a = ["even" if i % 2 == 0 else "odd" for i in range(1, 11)]
a

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [90]:
# 1 to 50....2 and 3 divisible
def checkDiv(n: int) -> bool:
    if n % 2 == 0 and n % 3 == 0:
        return True
    else:
        return False


# my_list = [i for i in range(1, 51) if i % 2 == 0 and i % 3 == 0]
my_list = [i for i in range(1, 51) if checkDiv(i) == True]
print(my_list)

[6, 12, 18, 24, 30, 36, 42, 48]

In [94]:
def checkDiv(n):
    if n%2==0 and n%3==0:
        return True
    else:
        return False


[i for i in range(1,31) if checkDiv(i)==True]

[6, 12, 18, 24, 30]

In [100]:
# Ask 5 numbers from user, and add it into the list
my_list = []

for _ in range(5):
    num = int(input("Enter a number = "))
    my_list.append(num)

print(my_list)

Enter a number =  5
Enter a number =  5
Enter a number =  5
Enter a number =  5
Enter a number =  5

[5, 5, 5, 5, 5]

In [104]:
my_list = [54, 32, 92, 92, 45, 46, 22, 22, 54, 54, 11, 10, 92]
my_list2 = []

for i in my_list:
    if i not in my_list2:
        my_list2.append(i)
my_list2

[54, 32, 92, 45, 46, 22, 11, 10]

In [118]:
a = [23, 23, 23, 23, 26, 78, 81]  # 7
b = []
for i in a:
    if i == 23:
        a.remove(i)

a

[23, 23, 26, 78, 81]

In [120]:
for i in range(0, len(a)-1):
    if a[i] == 23:
        a.pop(i)

In [122]:
a

[23, 26, 78, 81]