### Functions with print

In [1]:
def displayMotherInfo():
    print("Hello World")
    print("Good bye")
    print("We are learning python")


def coding():
    print("We are doing coding")


displayMotherInfo()
displayMotherInfo()
coding()

Hello World
Good bye
We are learning python
Hello World
Good bye
We are learning python
We are doing coding

In [3]:
# Scoping
"""
add()
sub()
mul()
div()
"""


def add():
    a: int = int(input("Enter value of a = "))
    b: int = int(input("Enter value of b = "))
    print(a + b)


def sub():
    a: int = int(input("Enter value of a = "))
    b: int = int(input("Enter value of b = "))
    print(a - b)


def mul():
    a = int(input("Enter value of a = "))
    b = int(input("Enter value of b = "))
    print(a * b)


def div():
    a = int(input("Enter value of a = "))
    b = int(input("Enter value of b = "))
    print(a / b)


add()
sub()

Enter value of a =  58
Enter value of b =  45

103

Enter value of a =  524
Enter value of b =  55

469

In [ ]:
"""
add - 4 parameter
mul - 3 parameter
"""


def add(a, b, c):  # Parameter
    print(a + b + c)


x = int(input("Enter x = "))
y = int(input("Enter y = "))
z = int(input("Enter z = "))
add(z, z, z)
add(x, y, z)
add(100, 200, 300)

# add(100, 200, 300)  # Arguments
# add("anirudh", "khurana", "code")

In [ ]:
"""
add - 4 parameter
mul - 3 parameter
"""


def add(a, b, c):  # Parameter
    print(a + b + c)


x = int(input("Enter x = "))
y = int(input("Enter y = "))
z = int(input("Enter z = "))
add(z, z, z)
add(x, y, z)
add(100, 200, 300)

# add(100, 200, 300)  # Arguments
# add("anirudh", "khurana", "code")

In [11]:
"""
add - 4 parameter
mul - 3 parameter
"""


def add(num1, num2, num3, num4):
    print(num1 + num2 + num3 + num4)


def mul(num1, num2, num3):
    print(num1 * num2 * num3)


# def add(a, b, c):
#     print(a + b + c)
#     a = 0
#     b = 0
#     c = 0
# ------


a = 10
b = 20
c = 30
# add(a, b, c)

print(a, b, c)  # <--

10 20 30

In [25]:
def greet(name: str, age: int, gender: str):
    print(f"My name is {name}")
    print(f"my age is {age}")
    print(f"my gender is {gender}")

greet("Sajid", 28, "Male")

My name is Sajid
my age is 28
my gender is Male

In [34]:
#named arguments

def marks(physics=0, chemistry=0, english=0, science=0, hindi=0):
    total = physics + chemistry + english + science + hindi
    per = total / 500 * 100
    print(f"Your total marks = {total}")
    print(f"Your percentage scored = {per:.2f}")


# marks(67, 45, 32, 12, 99)
# marks(english=10, hindi=99, physics=67, chemistry=67, science=91)

marks(chemistry=22, physics=67, hindi=100, science=11, english=44)

Your total marks = 244
Your percentage scored = 48.80

### Functions with return

In [ ]:
def addition(num1: int, num2: int) -> int:
    total = num1 + num2
    return total


# x = addition(10, 17)
# print(x)
print(addition(10, 20))


# Output
# 30

In [ ]:
# print("Hello World")
def add(num1: int, num2: int) -> int:
    return num1 + num2


print(add(10, 20))
x = add(100, 200)
print(x)

In [ ]:
#Area
def rectangle(length: float, breadth: float) -> float:
    return length * breadth


def triangle(base: float, height: float) -> float:
    return 0.5 * base * height


def circle(radius: float) -> float:
    return 3.14 * radius**2

In [42]:
"""
Ask 2 numbers from user.

Calculate total

Check if that total is odd/even

total(n1,n2) -> int

check(n1) -> None

"""


def total(num1: int, num2: int) -> int:
    return num1 + num2


def checkEvenOdd(num: int) -> None:
    if num % 2 == 0:
        print("Even")
    else:
        print("Odd")


num1: int = int(input("Enter a number "))
num2: int = int(input("Enter a number "))
checkEvenOdd(total(num1, num2))

Enter a number  10
Enter a number  10

Even

In [50]:
def power(base: int | None = 1, exponent: int | None = None) -> int:
    if base != None and exponent != None:
        return base**exponent
    else:
        return -1


power(5,3)
# power(5,None) -> -1
# power(None,None) -> -1

125

In [52]:
"""
Ask a number from user
Check if number is ODD or EVEN

Ternary Operators
"""


def check(num: int) -> str:
    # print("EVEN") if num % 2 == 0 else print("ODD")
    # if num % 2 == 0:
    #     print("dwadwa")
    #     print("hdkjwahdka")
    #     return "EVEN"
    # else:
    #     return "ODD"
    return "EVEN" if num % 2 == 0 else "ODD"


print(check(10))
print(check(21))

EVEN
ODD

### Lambda functions

In [57]:
"""
Anonymous Function
One liner
"""

'\nAnonymous Function\nOne liner\n'

In [61]:
def add(a, b, c):
    return a + b + c

add = lambda a, b, c: a + b + c

x = add(10, 20, 30)
print(x)

60

In [67]:
def addition(n1, n2, n3, n4):
    return n1 + n2 + n3 + n4


add1 = lambda n1, n2, n3, n4: n1 + n2 + n3 + n4

print(add1(10, 20, 30, 40))

100

In [63]:
isEven = lambda num: num % 2 == 0
print(isEven(6))
print(isEven(5))

True

In [65]:
generate_list = lambda x, y: [i for i in range(x, y + 1)]


my_list = generate_list(1, 10)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
palindrome = lambda n: n == n[::-1]

In [87]:
my_list = [
    {"name": "Anirudh", "age": 67, "marks": [1, 2, 3, 8, 4, 5]},
    {"name": "dwadwa", "age": 67, "marks": [13, 2, 3, 74, 5]},
    {"name": "abc", "age": 67, "marks": [14, 2, 35, 94, 5]},
    {"name": "pqr", "age": 67, "marks": [15, 21, 73, 24, 5]},
    {"name": "Akul", "age": 67, "marks": [1, 2, 9, 3, 49, 5]},]

r = list(sorted(my_list, key=lambda x: sum(x["marks"])))
for details in r:
    print(details["name"], sum(details["marks"]))

Anirudh 23
Akul 69
dwadwa 97
pqr 138
abc 150

In [89]:
stu_details = {
    "anil": {
        "age": 20,
        "class": "PUC",
        "phone": 8757545,
        "gender": "male",
        "physics": 98,
        "chemistry": 76,
        "maths": 56,
    },
    "sunil": {
        "age": 21,
        "class": "BSC",
        "phone": 9456575,
        "gender": "male",
        "physics": 88,
        "chemistry": 66,
        "maths": 46,
    },
    "amrita": {
        "age": 19,
        "class": "MA",
        "phone": 9856775,
        "gender": "female",
        "physics": 68,
        "chemistry": 56,
        "maths": 36,
    },
    "anand": {
        "age": 22,
        "class": "CS",
        "phone": 93345675,
        "gender": "male",
        "physics": 48,
        "chemistry": 86,
        "maths": 96,
    },
}

x = dict(
    sorted(
        stu_details.items(),
        key=lambda x: x[1]["maths"] + x[1]["chemistry"] + x[1]["physics"],
    )
)
for name, details in x.items():
    total = details["physics"] + details["chemistry"] + details["maths"]
    print(name, total)

amrita 160
sunil 200
anil 230
anand 230

In [91]:
stu_details = {
    "anil": {
        "age": 20,
        "class": "PUC",
        "phone": 8757545,
        "gender": "male",
        "physics": 98,
        "chemistry": 76,
        "maths": 56,
    },
    "sunil": {
        "age": 21,
        "class": "BSC",
        "phone": 9456575,
        "gender": "male",
        "physics": 88,
        "chemistry": 66,
        "maths": 46,
    },
    "amrita": {
        "age": 19,
        "class": "MA",
        "phone": 9856775,
        "gender": "female",
        "physics": 68,
        "chemistry": 56,
        "maths": 36,
    },
    "anand": {
        "age": 22,
        "class": "CS",
        "phone": 93345675,
        "gender": "male",
        "physics": 48,
        "chemistry": 86,
        "maths": 96,
    },
}

In [93]:
stu_details.items()

dict_items([('anil', {'age': 20, 'class': 'PUC', 'phone': 8757545, 'gender': 'male', 'physics': 98, 'chemistry': 76, 'maths': 56}), ('sunil', {'age': 21, 'class': 'BSC', 'phone': 9456575, 'gender': 'male', 'physics': 88, 'chemistry': 66, 'maths': 46}), ('amrita', {'age': 19, 'class': 'MA', 'phone': 9856775, 'gender': 'female', 'physics': 68, 'chemistry': 56, 'maths': 36}), ('anand', {'age': 22, 'class': 'CS', 'phone': 93345675, 'gender': 'male', 'physics': 48, 'chemistry': 86, 'maths': 96})])

In [ ]:
for key, value in stu_details.items():

In [ ]:
dict(sorted(stu_details.items(), key=lambda x: x[]))

In [ ]:
x = dict(
    sorted(
        stu_details.items(),
        key=lambda x: x[1]["maths"] + x[1]["chemistry"] + x[1]["physics"],
    )
)