In [21]:
# Mutable Objects

list1 = [11, 9, "Anirudh", False, 0.0005, True, ""]
print(list1)
print(type(list1))

[11, 9, 'Anirudh', False, 0.0005, True, '']
<class 'list'>

In [1]:
# Accessing Elements

lst = [67, 54, 11, 99, 98, 54, 34, 45, 65, 76, 12]
# print(lst[0])
# print(lst[1])
# print(lst[2])
# print(lst[3])
# print(lst[4])

print(lst[-1], lst[0])

12 67

In [7]:
# Iteration of list
# Iteration by index

# Index = 0 to 9
# How many elements? = 10
lst = [67, 54, 11, 99, 98, 543, 432, "Anirudh", True, 55.556]

# Best
for i in range(len(lst) - 1, -1, -1):
    print(lst[i], end=" ")

55.556 True Anirudh 432 543 98 99 11 54 67

In [15]:
lst = [67, 54, 11, 99, 98, 543, 432, "Anirudh", True, 55.556]

for i in range(-1, -(len(lst) + 1), -1):
    print(lst[i], end=" ")

55.556 True Anirudh 432 543 98 99 11 54 67

In [17]:
lst = [67, 54, 11, 99, 98, 543, 432, "Anirudh", True, 55.556]
for i in range(0, len(lst)):
    print(lst[i], end=" ")

67 54 11 99 98 543 432 Anirudh True 55.556

In [37]:
my_list = [67, 54, 11, 99, 98, 543, 432]

# Addition of all elements using iteration

total=0
for i in my_list:
    total+=i

total

1304

In [35]:
# Membership Operator (IN / NOT IN)

my_list: list[int] = [54, 99, 18, 19, 99, 21, 59, True]

search_number = 99

if search_number in my_list:
    print("Yes")
else:
    print("No")

Yes

In [41]:
#Removes an element
#AND returns the removed value
my_list:list[int]= [54, 99, 18, 19, 99, 21, 59]
my_list.pop(-3)
my_list

[54, 99, 18, 19, 21, 59]

In [45]:
#del does NOT return anything
del my_list[0]

In [49]:
#Removes the first occurrence of the value
#Does NOT return anything
#Modifies the list in place
my_list.remove(99)

In [53]:
my_list.insert(3, -10)
my_list

[18, 19, 21, -10, 59]

In [ ]:
my_list = [54, 65, 18, 19, 99, 21, 59]

# By Index
# for i in range(0, len(my_list)):
#     print(my_list[i], end=" ")

# By Value
# for i in my_list:
#     print(i, end=" ")

# By Both
for i, j in enumerate(my_list):
    print(f"Index = {i}, value = {j}")